/*Root colors, predefined variables*/
:root {
    --color1: #546a7b;
    --color2: #0d1f2d;
    --color3: #555158;
    --color4: #08166100;
    --color5: #130505;
    --head_font: Nunito Sans, serif;
    --para_font: Nunito, serif;
}
/*This is editing the body of the CSS */
body {
    font-family: var(--head_font);
    background-color: var(--color1);
}
/*Modifying all the 'h' variables */
h1, h2, h3, h4, h5, h6 {
    color: var(--color2);
    text-decoration-color: var(--color2);
}
/*attributes (remove underline) */
a {
    text-decoration: none;
}
/*Modifying the entire page with grid layout */
header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    background-color: #1435d8;
}

nav {
   display: flex;
   justify-content: space-around;
   padding: 1em;  
}

nav a:hover {
    background-color: #48add8;
    border-radius: .30em;
    padding: 1em;
    color: #1435d8;
}

nav a {
    color: #fff;
}

img {
   width: 100%;

}

* {
    box-sizing: border-box;
}

header, main, footer {
    max-width: 1400px;
    margin: 0 auto;
}
/*Moves and modifying my hero image with objects in it */
.hero {
    position: relative;
    top: 1rem;
}
/*Modifies my History paragraph text. */
p {
    color: var(--color5);
    text-decoration-color: var(--color5);
    font-size: x-large;
}
/*This modifies my 'The White Water Rapids' text and position. */
.hero h1 {
    position: absolute;
    top: 2rem;
    left: 3rem;
    right: 3rem;
    text-align: center;
    color: var(--color5);
    background-color: #e3e3e37b;
}
/*This modifies the position and background of the picture thats overlayed on my hero image */
.hero article {
    background-color: #ffffff61;
    position: absolute;
    top: 12rem;
    left: 2rem;
    right: 2rem;
    padding: 1em;
}
/*This is telling that same image from before what side of the text to be on. */
.hero article img {
    float: right;
    width: 250px; 
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;    
    gap: 1em;
    padding: 0 1em 1em;
}

.history h2 {
    max-width: 100%;
    color: var(--color5);
    font-size: x-large;
    grid-column: 1/4;
    justify-self: center;
}

.adventure {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
} 

.adventure h2 {
    grid-column: 1/-1;
    justify-self: center;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
}

/*This is how the bottom with the icons and your name and copy right is displayed */
footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: x-large;
    background-color: var(--color3);
    padding: 5rem;
    color: var(--color2)
}
/*This is the placement of your social media icons */
.social_media {
    grid-column: 4;
    justify-self: end;
}
/*This is the size of the social media icons. */
.social_media img{
    width: 4em;    
}

.contactus h1 {
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;
}

.contactform {
    grid-row: 2/4;
    grid-column: 2/6;
}

.address {
    grid-column: 7/12;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
}

.employees {
    grid-column: 1/-1;
}

.employee {
    margin: 0 auto;
}