:root {
    --color1: #546a7b;
    --color2: #0d1f2d;
    --color3: #9ea3b0;
    --color4: #fae1df;
}

header {
    display: grid;

}

p {
    color: var(--color1);
    text-decoration-color: var(--color1);
    
    

}

h1 {
    color: var(--color2);
    text-decoration-color: var(--color2);
}

h2 {
    color: var(--color2);
    text-decoration-color: var(--color2);
}

.social_media {
    text-decoration: none;
}

.hero {
    width: 100%;
    display: block;
    height: auto;
}

.hero div {
    position: relative

}

.hero h1 {
    position: absolute;
}

.thing {
    float: right;
}