:root {
   --border: 2px #575555;
   --padding: 2rem;
   --width: 200px;
   --height: 200px;
   --background-color: #08cc28;
   --color: #0f1ccf;   
}


nav {
    background-color: var(--background-color);
}
nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--color);

}
img {
    width: 150px;
    height: auto;
    border: var(--border) var(--background-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: var(--width);
    margin: 2rem;
    border: var(--border);
    padding: var(--padding);
    background-color: var(--background-color);
    color: var(--color);
    text-align: left;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 2px solid #000;
    text-align: center;
}