:root {
   --border: 2px rgb(87, 85, 85);
   --padding: 2rem;
   --width: 200px;
   --height: 200px;
   --background-color: darkred;   
}


nav {
    background-color: aqua;
    padding: 10px;
}
nav a {
    color: orange;
    display: block;
    padding: 20px;
}
h1 {
    color: lightgreen;

}
img {
    width: 150px;
    height: auto;
    border: 1px slategray;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 40rem;
    margin: 2rem;
    border: 5rem;
    padding: 5rem;
    background-color: blanchedalmond;
    color: black;
    text-align: left;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 2px solid #000;
    text-align: center;
}