.callout {
	max-width: 600;
    margin: 5px;
    border: 5px solid rgb (0 0 0 / 0.1);
    padding: 5px;
    background-color: rgb(94, 16, 46);
    color: #000002;
}

.callout img {
    float: right;
    margin: 10px 12px;
    border: 5px 7p solid black;
    padding: 4px solid grey;
    background-color: rgb(16, 63, 63);
    width: 150px;
    height: auto;	
}

blockquote {
    margin: left;
}

cite {
	display: block;
    border-top: 2px solid salmon;
    padding-top: 2px solid black;
    text-align: center;
    font-size: medium;

}
